<NGF-header></NGF-header>

<div class="container d-flex justify-content-evenly">
  <div class="card m-3">
    <img
      src="../assets/img/comida.jpg"
      class="card-img-top p-3"
      style="width: 25rem; height: 15rem"
      alt="Comida"
    />
    <div class="card-body" style="padding-top: 8px">
      <h5 class="card-title text-center">Comida</h5>
    </div>
  </div>
  <div class="card m-3">
    <img
      src="../assets/img/bebida.jpg"
      class="card-img-top p-3"
      style="width: 25rem; height: 15rem"
      alt="Bebida"
    />
    <div class="card-body" style="padding-top: 8px">
      <h5 class="card-title text-center">Bebida</h5>
    </div>
  </div>
</div>

<NGF-footer></NGF-footer>
