<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <img
        src="../assets/img/cardapio.png"
        alt="Cardápio"
        style="width: 30px"
      />
      <a class="navbar-brand ms-3" href="#">NG-FOOD</a>
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Cardápio</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<footer class="py-3 my-4">
  <p class="text-center text-muted border-top pt-3">
    © 2022 NG-FOOD, By Conrado Fortunato
  </p>
</footer>
